<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.graduate.seoil.sg_projdct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SettingActivity"></activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity"></activity>
        <activity android:name=".MessageActivity" /> <!-- Firebase Login from "KOD Dev" -->
        <activity android:name=".GStartActivity"></activity>
        <activity android:name=".IndexActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".GStartActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".GStartActivity" />
        <activity
            android:name=".TemplateActivity"
            android:label="@string/title_activity_template" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".WSYActivity" />
        <activity android:name=".JangHunActivity" />
        <activity android:name=".YouMinActivity" />
        <activity android:name=".BaeHoonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaeHoonActivity2" />
        <activity android:name=".BaeHoonActivity3"></activity>
    </application>

</manifest>